## project ##
build/
bin/
*.log
*~
*.db
*.tmp
.DS*
*.tex
nbproject/
.metadata/
.vagrant/
vagrant/.vagrant/


# version.h should be created by cmake with git info
src/version.h

# Doxyfile should be created by cmake with git info
*Doxyfile
*header.tex
*doxygen_sqlite3.db

# don't "push" doxygen generated html pages
doc/html/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
